name: CI

on:
  push:
    branches:
      - main
  pull_request:

env:
  TEST_ENV_DIR: /tmp/test-env

jobs:
  formatting:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the code
        uses: actions/checkout@v4

      - name: Setup pixi
        uses: prefix-dev/setup-pixi@v0

      - name: Check formatting
        run: pixi run format --check .

  linting:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the code
        uses: actions/checkout@v4

      - name: Setup pixi
        uses: prefix-dev/setup-pixi@v0

      - name: Check code
        run: pixi run lint

  testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup pixi
        uses: prefix-dev/setup-pixi@v0

      - uses: conda-incubator/setup-miniconda@v3

      - name: Deploy external test env
        shell: bash -el {0}
        run: |
          conda create -n test-env stress-ng
          conda create -p $TEST_ENV_DIR stress-ng

      - name: Run pytest
        env:
          TEST_NAMED_ENV: "1"
          TEST_DIRECTORY_ENV: "1"
        run: pixi run test

      - name: Run Coverage
        run: pixi run coverage-report
